@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

color {
    color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 51%);
    color: hsl(212, 23%, 69%);
    color: hsl(210, 46%, 95%);

}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    margin-top: 10rem;
    width: 37rem;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.image{
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
    width: 65rem;
    
}

.desc {
    text-align: left;
    color: hsl(217, 19%, 35%);
    width: 90rem;
    margin: 2rem;
}

.desc h3 {
    padding-bottom: .5rem;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.avatar {
    width:40px;
    height:40px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: .7rem;
}

.footer p {
    font-weight: 700;
    margin-right: 7rem;
}
.footer p span {
    display: block;
    font-weight: 500;
}

.icon_share {
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: hsl(210, 46%, 95%);
    width:25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.icon_share img {
    filter: white;
}

/* .icon_share:active {
    background-color: hsl(214, 17%, 51%);
    
} */

/* ------------------social media icon popup------------ */

.popUp {
    background-color: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    padding: .5rem;
    width: 12rem;
    border-radius: 8px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 47%;
    left: 62%;
    box-shadow: 5px 5px 5px -4px;
}

.popUp p {
    letter-spacing: 3px;
}

.popUp img {
    margin: .2rem;
}

.triangle {

  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid hsl(217, 19%, 35%);
  position: absolute;
    top: 53%;
    left: 68%;
    
}

.hideShow {
    display: none;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10rem; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ==============Media queries =============== */

@media only screen  and (max-width: 500px) {
 
    .card {
        margin-top: 10rem;
        width: 20rem;
        height: 29rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
       }
       .image{
        background-image: url(./images/drawers.jpg);
        background-size: cover;
        border-radius: 10px 10px 0 0;
        height: 13rem;
        width: 20rem;
        
    }
    .desc {
        text-align: left;
        color: hsl(217, 19%, 35%);
        width: 17rem;
        margin: 1.6rem;
    
    }
    .desc h3 {
        padding-bottom: .5rem;
    }
    .footer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    .footer p {
        font-weight: 700;
        margin-right: 5rem;
    }
    .footer p span {
        display: block;
        font-weight: 500;
    }


    .attribution { 
        display: none;
    }

    /* ----------social popup of responsive ------ */

    .popUp {
        background-color: hsl(217, 19%, 35%);
        color: hsl(212, 23%, 69%);
        padding: .5rem;
        width: 20rem;
        border-radius: 0 0 10px 10px;
        height: 4.3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 18%;
        box-shadow: 5px 5px 5px -4px;
    }
    
    .popUp p {
        letter-spacing: 3px;
    }
    
    .popUp img {
        margin: .2rem;
    }

    .triangle {
        display: none;
      }
    

}
